html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  #chatContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  #chat {
    background-color: aliceblue;
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  /* ============== Chat Head ===========*/
  p.title {
    color: white;
    /*margin-left: 6%;*/
    font-size: 22px;
    letter-spacing: 1px;
    text-shadow: 0px 2px #797979;
  }
  
  #chatHead {
    border-radius: 20px 20px 0 0;
    width: 50%;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #42a5f5;
    box-sizing: border-box;
    padding: 0 4% 0 3.5%;
  }
  .speaker {
    height: 25px;
    position: absolute;
    cursor: pointer;
    margin: 21px 0 0 38px;
    z-index: 1;
  }
  #chooseButtons {
    display: flex;
    justify-content: space-evenly;
  }
  .closeChat {
    display: none;
  }
  #chatTrigger {
    display: none;
  }
  /* ========== User messages ============*/
  #msgContainer {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* right: 0; */
    /*margin-left: auto;*/
  }
  .userMsgContainer {
    margin: 1.5% 5% 1.5% auto;
    max-width: 80%;
    display: flex;
    align-items: center;
  }
  .userMsg {
    margin-left: auto;
    padding: 2%;
    /* background-color: #d9eef7; */
    background-color: #dcdcdc;
    max-width: 80%;
    border-radius: 10px 10px 0px 10px;
  }
  .userImg {
    width: 50px;
    height: 100%;
    margin-left: 1%;
  }
  
  .typeGif {
    width: 50px;
  }
  
  /* ================ Bot Messages ===========*/
  
  .botMsgContainer {
    margin: 1.5% auto 1.5% 5%;
    max-width: 80%;
    display: flex;
    align-items: center;
  }
  .botMsg {
    padding: 2%;
    background-color: #d9eef7;
    max-width: 80%;
    border-radius: 10px 10px 10px 0px;
  }
  .botImg {
    width: 50px;
    height: 100%;
    margin-right: 1%;
  }
  
  /* =============== Input box ==============*/
  /* #inputContainer{
      width: 50%;
      height: 40px;
      display: flex;
      justify-content: space-evenly;
      margin-top: auto;
      background-color: aliceblue;
      border-radius: 0 0 20px 20px;
      padding-bottom: 0.6%;
  } */
  #inputContainer {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #e5f2fd;
    border-radius: 0 0 20px 20px;
    padding-bottom: 2%;
    padding-top: 2%;
    align-items: center;
  }
  
  #inputBox {
    height: 100%;
    width: 80%;
    padding: 0;
    border: 0.2px rgb(224, 224, 224) solid;
    border-radius: 20px 20px 20px 20px;
    padding-left: 10px;
    box-sizing: border-box;
    /* -webkit-box-shadow: 0px -1px 2px rgb(50 50 50 / 75%);
      -moz-box-shadow: 0px -1px 2px rgb(50 50 50 / 75%);
      box-shadow: 0px -1px 2px rgb(50 50 50 / 75%); */
  }
  #inputBox:focus {
    outline: none;
  }
  /* .inputButton{
      width: 15%;
      height: 100%;
      padding: 0;
      /* border: 0.2px rgb(78, 77, 77) solid; */
  /* border: none;
      border-radius: 20px;
      background-color: #42a5f5;
      display: flex;
      justify-content: center;
      align-items: center;
  } */
  .inputButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 2%;
    padding: 0;
    /* border: 0.2px rgb(78, 77, 77) solid; */
    border: none;
    background-color: #42a5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .send:hover {
    background-color: #1a93f7 !important ;
  }
  .off:hover {
    background-color: #1a93f7 !important ;
  }
  .on:hover {
    background-color: #fd4c16;
  }
  .buttonIcon {
    width: auto;
    height: 50%;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 13px;
  }
  ::-webkit-scrollbar-thumb {
    background: #8ec8f8;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1a93f7;
    /* background: linear-gradient(13deg, #C7CEFF 14%,#F9D4FF 64%); */
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset -10px -10px 0px 30px #f0f8ff;
  }
  /* #send{
      width: 10%;
      padding: 0;
      border: 0.2px rgb(78, 77, 77) solid;
  }
  #send:hover{
      background-color: cornflowerblue;
  }
  #speech{
      width: 10%;
      padding: 0;
      border: 0.2px rgb(78, 77, 77) solid;
  }
  #speech:hover{
      background-color: #ff5722;
  } */
  #speaker-wrapper {
    height: 100%;
    margin: 0 10% 0 auto;
  }
  .sonar-wrapper {
    height: 100%;
  }
  
  .sonar-wrapper {
    display: none;
    position: absolute;
    height: 65px;
    width: 100px;
    z-index: 0;
    overflow: hidden;
  }
  
  .sonar-emitter {
    position: relative;
    margin: 13px auto;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: #42a5f5;
  }
  
  .sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #dbefff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
  
  .sonar-wave1 {
    animation: sonarWave 2s linear infinite;
  }
  
  .sonar-wave2 {
    animation: sonarWave 2s 0.5s linear infinite;
  }
  
  .sonar-wave3 {
    animation: sonarWave 2s 1s linear infinite;
  }
  
  .sonar-wave4 {
    animation: sonarWave 2s 1.5s linear infinite;
  }
  
  @keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  