*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    height: 100vh;
    font-family: 'Nunito',sans-serif;
}
/* .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
} */

.container{
    /*height: 100%;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error-info{
    visibility: hidden;
    margin: 5px 0;
    z-index: 999;
    background-color: #ef2424; 
    border: 3px solid #ef2424;
    padding: 0.2em 0.4em;
    border-radius: 5px;
}

.error-info h4 {
    color: rgb(255 255 255);
/* border: 1px solid; *//* outline: 1px solid black; */}

form{
    height: min-content;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    /* position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 9%);
    padding: 30px 35px;
}

form *{
    
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input-field{
    display: block;
    height: 50px;
    width: 100%;
    border: 1px solid #6a85ff;
    color: black;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.input-field:focus{
    border: 1px solid #41507D;;
}

::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
    background-color: #6a85ff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #41507D;
    color: #ffffff
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  /* padding: 5px 10px 10px 5px; */
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  display: flex;
  justify-content: center;

}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
  cursor: pointer;
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

.flag-selected{
    background-color:#A5AEC9 !important;
  }

.link-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}

