body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(120, 127, 147);
    font-family: Poppins, sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#internal-container{
     width: 80%;
    height: 80%;
    display: flex;border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: space-evenly;
    align-items: center;

}
#internal-form-container{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background: white;border-radius: 10px;padding-bottom: 2%;}
#info-container{
   
height: 80%;border-radius: 5px;background-color: #787f93;display: flex;flex-direction: column;justify-content: center;}

#profile{
    width: 60px;
    height: 60px;
    background: rebeccapurple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5% 0 5% -5%;
    color: white;
    border: 4px solid #787f93;/* cursor: pointer; */
  }

#form-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
/* height: 100%; */background-color: #787f93;border-radius: 10px;}
.info{
    display: flex;margin: 1.5% 0 1.5% 0;
width: 50%;flex-direction: column;}
.info-label{
    /* display: block; */
}

.info-value{
    /* display: block; */
border-bottom: 1px solid black;color: #dddddd;}

