body,
html {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
input {
    font-size: 0.8em;
    
}

.container {
    width: 100%;
    height: 100vh;
    /* background: rgb(246, 115, 0);
    background: linear-gradient(
      180deg,
      rgba(246, 115, 0, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    ); */
    background: linear-gradient(
      180deg,
      rgb(226, 225, 223) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    font-family: "Roboto", sans-serif;
  }
#aggiorna, #download{
background-color: #42a5f5;
border: none;
padding: 5px;
    border-radius: 5px;
    color: white;
}
#aggiorna:hover, #download:hover{
background-color: #068af5;
}

.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .secondContainer {
    width: 95%;
    background: white;
    margin-top: 3%;
    border-radius: 10px;
    margin-left: 2.5%;
  }
  .infoUtente {
    padding: 2%;
    /* border-bottom: 3px solid rgb(246, 115, 0); */
    border-bottom: 3px solid rgb(66, 165, 245);
    display: flex;
    justify-content: space-between;
  }
  .infoUtente p {
    display: inline;
  }
  .topBar {
    padding-left: 2%;
  }
  .ruleList {
    list-style-type: decimal;
    padding-left: 2%;
  }
  .ruleList li {
    background: whitesmoke;
    width: 95%;
    margin: 0 0 0px 3%;
  }
  .rule {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .deleteImg {
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 1px;
  }
  .deleteImg:hover {
    background: #ff000094;
  }
  
  /*----------------------------------------------------------------*/
  .list {
    width: 95%;
    background: white;
    margin-top: 3%;
    border-radius: 10px;
    margin-left: 2.5%;
  }
  
  .none {
    display: none;
  }
  .display {
    display: block;
  }
  .arrow {
    width: 0.7em;
  }
  .li,
  .li2,
  .li3,
  .lienv,
  .li2env,
  .li3env,
  .litec,
  .li2tec,
  .li3tec,
  .utente,
  .environments,
  .tecnologia,
  .azioni,
  .liact,
  .li2act,
  .li3act {
    /*background: rgb(246, 246, 246);*/
    width: fit-content;
    padding: 0.2%;
    border-radius: 5px;
    margin: 5px;
    list-style: none;
  }
  
  .utente,
  .triggers,
  .environments,
  .tecnologia,
  .azioni {
    cursor: pointer;
  }
  
  #chatHidden{
    display: none;
  }