body,
html {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
input {
    font-size: 0.8em;
    
}

.languages{
  display: flex;
  justify-content: flex-start;
}

.flag{
  background-color: #f3f3f3;
  border: 1px solid #42a5f5;
  width: 70%;
  border-radius: 10px;
}
.flag:hover{
  background-color: rgb(112, 174, 226);;
  cursor: pointer;
  
}
.flag-selected{
  background-color: #42a5f5;
}
#aggiorna, #download{
  background-color: #42a5f5;
  border: none;
  padding: 5px;
    border-radius: 5px;
    color: white;
}
#aggiorna:hover, #download:hover{
  background-color: #068af5;
}


.container {
  width: 100%;
  height: 100vh;
  /* background: rgb(246, 115, 0);
  background: linear-gradient(
    180deg,
    rgba(246, 115, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: linear-gradient(
    180deg,
    rgb(226, 225, 223) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}
.first {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-input {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding: 2%;
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
}
#username:focus {
  outline-color: #020202;
}
p.infoMessage {
  margin: 0;
  font-size: 0.9em;
  text-align: center;
}
#login, #reg-form {
  font-family: "Roboto", sans-serif;
  width: 40%;
  padding: 2% 0 2% 0;
  /* background-color: #ff8100; */
  background-color: rgb(66, 165, 245);
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
}
#login:hover, #reg-form:hover {
  /* background: #ec9034; */
  background: rgb(112, 174, 226);
} 

.userInfo {
  background: white;
  padding: 4%;
  border-radius: 10px;
}
